*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.1rem;
}

body {
  background: #1699ad;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1;
  color: #122633;
  font-size: 1rem;
}
.App {
  width: 100%;
  height: 100%;
}
.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}
.navbar-flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  flex-basis: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}
.logo-text h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #2c1052;
}
.navbar {
  flex-basis: 35%;
  display: flex;
  gap: 1.2rem;
}
.navbar a {
  font-size: 1.2rem;
  color: #000;
  font-weight: 400;
}
.navbar a:hover {
  color: #361a5c;
}
.sign-in {
  display: flex;
  gap: 0.5rem;
}

#btn-login {
  padding: 0.7rem 1rem;
  background: none;
  outline: none;
  border: 0.2rem solid #2c1052;
  color: #2d1052;
  border-radius: 1rem;
}
#btn-login:hover {
  color: #361a5c;
  background: white;
  cursor: pointer;
}
#btn-signup {
  padding: 0.7rem 1rem;
  background: #2c1052;
  color: #fff;
  outline: none;
  border: 0.2rem solid #2c1052;
  border-radius: 1rem;
}

#btn-signup:hover {
  background-color: white;
  color: #2c1052;
  cursor: pointer;
}
.header-icon-btn {
  background: none;
  border: none;
  outline: 0;
}
.header-icon {
  font-size: 1.5rem;
  color: white;
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2%;
  background-color: #6ca6af;
  width: 100%;
}
.side-bar a {
  text-decoration: none;
  margin: 0.3rem;
  color: white;
  cursor: pointer;
}
.side-bar a:hover {
  color: #1699ad;
}
.section {
  display: grid;
  place-items: center;
  margin: 2rem 0rem;
  padding-top: 1.5rem;
}
.center-text {
  padding: 1rem;
  text-align: center;
  max-width: 800px;
}
.center-text h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #2d1052;
}

.center-flex {
  max-width: 90vw;
  display: flex;
  gap: 0.9rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.center-flex div {
  display: flex;
  gap: 0.1rem;
  background: #fff;
  color: var(#122633);
  padding: 0.7rem;
  border-radius: 0.8rem;
  font-size: 9px;
}
.icon {
  color: white;
  background-color: #e19431;
  padding: 0.1rem;
  border-radius: 50%;
}
.get-started {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 1rem;
  background: #2d1052;
  padding: 1rem;
  text-align: center;
  width: 300px;
  margin: 1rem;
}
.get-started:hover {
  background-color: #3e3e52;
}
.get-started button {
  background: none;
  border: none;
  outline: none;
  color: #fff;
}

.icon-arrow {
  color: #e19431;
  font-size: 1.2rem;
}

.exclamation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 2rem 1rem 2rem;
}
.exclamation-item {
  position: relative;
}
.exclamation {
  background-image: linear-gradient(to bottom, #e19431, #1699ad);
  border: 1px solid black;
}
.images {
  width: 30vw;
}
.eth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  top: 35%;
  left: -7%;
}
.usdt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  bottom: 17%;
  left: 30%;
  font-size: 0.7rem;
}

.bitcoin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  top: 25%;
  left: -20%;
}
.ltc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  bottom: 10%;
  right: -5%;
}
.usdt-two {
  bottom: 17%;
  left: 10%;
}
.eth p,
.usdt p,
.ltc p,
.bitcoin p {
  font-size: 0.9rem;
}
@keyframes center-content {
  from {
  }
  to {
  }
}
@media only screen and (max-width: 1000px) {
  .header-flex {
    padding: 0;
    padding-top: 1rem;
    padding-right: 0.3rem;
    margin: 0.5rem;
  }
  #btn-login,
  #btn-signup {
    padding: 0.5rem;
  }
  .header-logo {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 830px) {
  #btn-signup {
    display: none;
  }
  #btn-login {
    padding: 1rem;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .hide {
    display: none;
  }
  html {
    font-size: 75%;
  }
}
